<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742216978719-0q8rcfus8i0uamop0r7ckmv0up7smv37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742216978719-0q8rcfus8i0uamop0r7ckmv0up7smv37</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>742216978719-10gfiii6otqrekls515oc70l35a8bqee.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxftNWdIvh8OmVlIfKstxF6_8z81pl3xY</string>
	<key>GCM_SENDER_ID</key>
	<string>742216978719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pathpal.pathpal</string>
	<key>PROJECT_ID</key>
	<string>pathpal-d5503</string>
	<key>STORAGE_BUCKET</key>
	<string>pathpal-d5503.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742216978719:ios:a375a302742e89afd7202a</string>
</dict>
</plist>